
<%= turbo_frame_tag(game_tile,
  class: "hive game-tile #{game_tile.column.zero? ? 'first' : ''} #{game_tile.first_offset? ? 'offset-first' : ''} #{game_tile.first_row? ? 'first-row' : ''} row-#{game_tile.row}"
) do
%>
  <div class="blue-400"></div>
  <% if board_type == 'hex' %>
    <div  class="hex inner-hex">
      <div class="hex-in1">
        <div class="hex-in2 hex-area hex-tile r-<%=game_tile.rotation %> bg-<%= game_tile.background %>">
          <% if game_tile.decoration.present? %>
            <div class="terrain-element-sign pt-6"><%= game_tile.decoration["content"] %></div>
          <% end %>
          <%= render(game_tile.game_piece) unless game_tile.empty? %>
        </div>
      </div>
    </div>
  <% else %>
    <div class="square-tile r-<%=game_tile.rotation %> bg-<%= game_tile.background %>">
      <% if game_tile.decoration.present? %>
        <div class="terrain-element-sign pt-6"><%= game_tile.decoration["content"] %></div>
      <% end %>
      <%= render(game_tile.game_piece) unless game_tile.empty? %>
    </div>
  <% end %>
<% end %>
