<div class='flex justify-center mt-6'>
  <%= button_to player_action_intents_path(@avatar, n: 1, player_action: :delete), method: :post, data: { hotkey: 'd' } do %>
    'd' Delete
  <% end %>
</div>
<div class='flex justify-center'>
  <%= button_to player_action_intents_path(@avatar, n: 1, player_action: :create), method: :post, data: { hotkey: 'c' } do %>
    'c' Create<br>
    Wand: <%= @avatar.wand %>
  <% end %>
</div>
<div class='flex justify-center'>
  <%= button_to player_action_intents_path(@avatar, n: 1, player_action: :split), method: :post, data: { hotkey: 's' } do %>
    's' Split!<br>
  <% end %>
</div>
<div class='flex justify-center'>
  <%= button_to player_action_intents_path(@avatar, n: 1, player_action: :zip), method: :post, data: { hotkey: 'z' } do %>
    'z' Zip!<br>
  <% end %>
</div>
<div class='flex justify-center'>
  <%= button_to player_action_intents_path(@avatar, n: 1, player_action: :insert), method: :post, data: { hotkey: 'i' } do %>
    'i' Insert<br>
  <% end %>
</div>