<!DOCTYPE html>
<html>
  <head>
    <title>PlayfulRuby</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tw-elements/dist/css/index.min.css" />

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

    <section class="container mx-auto mt-6 px-5 flex">
      <h1 class="font-medium leading-tight text-5xl mt-0 mb-2 text-blue-600 text-center block w-full"> Playful Ruby </h1>
    </section>
    <main class="container mx-auto px-5 flex">
      <% if notice %>
        <p class="alert alert-success bg-green-100 rounded-lg py-5 px-6 mb-4 text-base text-green-700 mb-3"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger bg-red-100 rounded-lg py-5 px-6 mb-4 text-base text-red-700 mb-3"><%= alert %></p>
      <% end %>
      <%= yield %>
    </main>
  </body>
</html>
