<!DOCTYPE html>
<html>
  <head>
    <title>PlayfulRuby</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tw-elements/dist/css/index.min.css" />

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

      <!-- Dynamic CSS Variables -->
    <% base_size = @base_size || 100 %>
    <% short_side = (base_size / Math.sqrt(3)).round(2) %>
    <% offset_height = Math.sqrt((short_side ** 2) - ((base_size ** 2) / 4)).floor %>
    <% board_height = ((GameTile::MAX_ROW + 2) * (short_side + offset_height)).floor %>
    <% board_width = ((GameTile::MAX_COLUMN + 1) * base_size).floor %>
    <% inner_hex_height = (2 * short_side).floor %>
    <% inner_hex_width = base_size %>

    <style>
      :root {
        --base-size: <%= base_size %>px;
        --short-side: <%= short_side %>px;
        --offset-height: <%= offset_height %>px;
        --board-height: <%= board_height %>px;
        --board-width: <%= board_width + 250 %>px;
        --inner-hex-height: <%= inner_hex_height %>px;
        --inner-hex-width: <%= inner_hex_width %>px;
      }
    </style>
  </head>

  <body>

    <section class="container mx-auto mt-6 px-5 flex">
      <h1 class="font-medium leading-tight text-5xl mt-0 mb-2 text-blue-600 text-center block w-full"> Playful Ruby </h1>
      <%= link_to 'import board', new_board_import_path, class: "mt-6 inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out"%>
    </section>
    <main class="container mx-auto px-5 flex">
      <% if notice %>
        <p class="alert alert-success bg-green-100 rounded-lg py-5 px-6 mb-4 text-base text-green-700 mb-3"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger bg-red-100 rounded-lg py-5 px-6 mb-4 text-base text-red-700 mb-3"><%= alert %></p>
      <% end %>
      <%= yield %>
    </main>
  </body>
</html>
